################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DistributedCache_GetOrAdd_ErrorDemo/v16/Server/sqlite3
/DistributedCache_GetOrAdd_ErrorDemo/obj/Debug/netcoreapp3.0
/DistributedCache_GetOrAdd_ErrorDemo/bin/Debug/netcoreapp3.0
/DistributedCache_GetOrAdd_ErrorDemo/obj
/.vs/DistributedCache_GetOrAdd_ErrorDemo/v16
/.vs/DistributedCache_GetOrAdd_ErrorDemo/config
/.vs/DistributedCache_GetOrAdd_ErrorDemo/DesignTimeBuild

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/
